<% content_for :title, "Editing movie" %>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to t('movies.edit.show_this_movie'), @movie %> |
  <%= link_to t('movies.edit.back_to_movies'), movies_path %>
</div>
