<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h3 class="card-title mb-4">Nova Categoria</h3>

      <%= render "form_categories" %>

      <%= link_to "Voltar", categories_path, class: "btn btn-secondary mt-3" %>
    </div>
  </div>
</div>
